$color1: white;
$color2: #fb5849;
$color3: #2a2a2a;
$color4: #007bff;
$color5: #2c4e72;
$color6: rgb(207, 201, 201);
$color7: gray;

$font-family1: 'Poppins', sans-serif;
$font-family2: Verdana, Geneva, Tahoma, sans-serif;
$font-family3: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;